<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background: rgb(142, 205, 235);
        }
        div{
            
            text-align:center;
        }
    </style>
</head>
<body>
<!--<img src="http://127.0.0.1:8000/media/ecomapp/images/1173850_AllCat_260._SY260_CB463219347_.jpg">-->
<form>
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>
        <br>
        <br>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="passsword" required>
        <br>
        <br>
        <button type="submit">Login</button>
        <a href="registration/">New User Register Here</a>
        
      </div>

    
    </form>








</body>
</html>